*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    /* background-color: burlywood; */
}
main{
    width: 100%;
    height: 100%;
    /* background-color: salmon; */
}
.page1{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(255, 0, 0, 0.441); */
}
.page1 .videoContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-color: aliceblue; */
}
nav{
    position: relative;
    color: white;
    padding: 0 3vw;
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}
.ntop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #FFF555;

}

.nl{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.nlp2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(155, 108, 108); */
}
.nr{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aliceblue; */
}
.smallbtn{
    text-decoration: none;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 50px;
}
.smallbtn span{
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF555;
    width: 0px;
    height: 0px;
    margin-left: 6px;
    border-radius: 50%;
    overflow: hidden;
    color: black;
    transition: all ease-in-out 0.3s;
}
.smallbtn span i{
    display: inline-block;
    transform: translateX(-20px);
    transition: all ease 0.5s;
}
.smallbtn:hover i{
    transform: translateX(0);
    transition: all ease 0.5s;
}
.smallbtn:hover span{
    width: 25px;
    height: 25px;
    transition: all ease-in-out 0.3s;
}

.pg1content{
    padding: 0 3vw;
    width: 100%;
    height: calc(100vh - 7vw);
    display: flex;
    /* background-color: aqua; */
}
.pg1l{
    width: 55%;
    height: 100%;
    color: #FFFFFF;
    /* background-color: salmon; */
}
.pg1l .h1{
     width: 100%;
     height: 18%;
     /* margin: 1vw 0; */
     display: flex;
     align-items: center;
     justify-content: start;
     /* background-color: red; */
}
.pg1l h1{
    font-size: 8vw;
    font-weight: 500;
    letter-spacing: -3px;
    white-space: nowrap;
}
.pg1l h3{
    white-space: nowrap;
    z-index: 9999;
}
.pg1l h2{
    white-space: nowrap;
    font-size: 2.5vw;
    line-height: 3vw;
    font-weight: 600;
}
.pg1r{
    width: 45%;
    height: 100%;
    /* background-color: burlywood; */
}
.big-btn{
    position: relative;
    color: black;
    padding: 1.3vw;
    width: 22vw;
    height: 5.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    margin: 4vw 0;
}
.big-btn span{
    display: inline-block;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background-color: #FFF555;
}
.big-btn span i {
    font-size: 1.5vw;
}
.big-btn::before{
    display: inline-block;
    content: "";
    position: absolute;
    right: 5%;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    transform-origin: center;
    transition: all 0.4s ease;
    /* background-color: #FFF555; */
}
.big-btn::after{
    display: inline-block;
    content: "";
    position: absolute;
    left: 60%;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    transform-origin: center;
    transition: all 0.4s ease;
    /* background-color: #FFF555; */
}

.big-btn:hover::before{
    cursor: pointer;
    border-radius: 15%;
    width: 100%;
    height: 100%;
    background-color: #FFF555;
    transition: all 0.7s ease;
}
.big-btn:hover::after{
    cursor: pointer;
    border-radius: 15%;
    width: 100%;
    height: 100%;
    background-color: #FFF555;
    transition: all 0.7s ease;
}
.page2{
    padding: 5vw 3vw;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}
.page2>h1{
    font-size: 4vmax;
    margin-bottom: 2vmax;
}
.zero{
    width: 100%;
    height: 6vmax;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* background-color: #FFF555; */
}
.one{
    position: relative;
    width: 100%;
    height: 9vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* background-color: #FFF555; */
}
.one::before{
    content: "";
    width: 100%;
    height: 0vmax;
    position: absolute;
    bottom:0%;
    transition: all 0.3s ease-in-out;
    background-color: #FFF555;
}
.right-icon{
    position: relative;
    width:4%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 2;
    overflow: hidden;

}
.right-icon-in{
    display: flex;
    transition: all 0.3s ease-in-out;
}
#h1{
    z-index: 1;
    font-size: 3.5vmax;
    font-weight: 500;
}
.one:hover::before{
    transform-origin: bottom;
    height: 9vmax;
    transition: all 0.3s ease-in-out;
}
.one:hover .right-icon-in{
    margin-right: -50px;
    transition: all 0.3s ease-in-out;
}
.page3{
    width: 100%;
    padding: 5vmax 3vmax;
    display: flex;
    min-height:100vh;
    background-color: salmon;
}
.left{
    overflow: hidden;
    margin-top: 5vmax;
    width: 50%;
    height: 60vmax;
    border-radius: 20px;
    background-color: saddlebrown;
}
.img{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.right{
    padding-left: 6vmax;
    margin-top: 5vmax;
    width: 50%;
    height: 60vmax;
    background-color: rgb(142, 106, 80);
}
.right h3{
    margin-bottom: 4vmax;
}
.right h1{
    margin: 1vmax;
    font-size: 4vmax;
}